/Atman.class
/AtmanInterface.class
/AtmanTest.class
/CardInAtman.class
/CardInAtmanTest.class
/Corner.class
/CornerTest.class
/RelieveChecker.class
/RelieveCheckerTest.class
/SplitChecker.class
/SplitCheckerTest.class
